<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">

<h4>本当に退会しますか？</h4>
<p>退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to "退会しない", public_customer_path(@customer), class: "btn btn-sn btn-success" %>
<%= link_to "退会する", public_customers_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか", class:"btn btn-danger" %>

   </div>
  </div>
 </div>