<div class="container">
  <h1>投稿一覧</h1>
  <table class="table table-hover table-invrse">
    <thead>
      <tr>
        <th>画像</th>
        <th>お酒の名前</th>
        <th>会員の名前</th>
        <th>投稿日時</th>
      </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
     <tr>
        <td><%= image_tag post.get_image(100,100) %></td>
        <td><%= link_to post.liquor_name, public_post_path(post.id) %></td>
        <td><%=  post.customer.name %></td>
        <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
