<table class="table table-hover table-invrse">

<div class="container">
 <div class="row">
  <div class="col-md-3" "offset-md-1">
   <div class="d-flex flex-row bd-highlight mb-3">
  <P>ようこそ<br>
    このサイトはお酒のレビューをするサイトです。</P>
   </div>
  </div>
 </div>
</div>

<thead>
 <tr>
  <th>新しい投稿</th>
  <th>画像</th>
  <th>お酒の名前</th>
 </tr>
</thead>
<% @posts.last(4).each do |post| %>
 
<tbody>
 <tr>
  <div class="card-body">
  <td><%= link_to public_post_path(post.id) do %></td>
  <td><%= image_tag post.get_image(100,100) %></td>
  <td><%= post.liquor_name %></td>
 </tr>
</tbody>
   <div class="p-2 bd-highlight">
     
     
      
      
  <% end %>
   </div>
  <% end %>
 <%= link_to "全ての投稿を見る", public_posts_path %>
</div>