<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">

  <P>ようこそ<br>
    このサイトはお酒のレビューをするサイトです。</P>
  
  </div>
 </div>
</div>

<h4>新しい投稿</h4>
<div class="d-flex flex-row bd-highlight mb-3">
  <% @posts.last(4).each do |item| %>
   <div class="p-2 bd-highlight">
     <%= link_to post_path(post.id) do %> 
     <%= image_tag item.get_image(100,100) %>
      <div><%= @liquors.name %></div>
      
  <% end %>
   </div>
  <% end %>
 <%= link_to "全ての投稿を見る", public_posts_path %>
</div>