<table class="table table-hover table-invrse">
<h4>会員一覧</h4>
 <%= form_with model: @customer, url: admin_customers_path do |f| %>
  <thead>
    <% @customer.each do |customer| %>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <td><%= customer.id %></td>
    
    <td><%= link_to customer.name, admin_customer_path(customer) %></td>
    <td><%= customer.email %></td>
    <td><% if customer.is_deleted==false %>
        有効
        <% else %>
        無効
        <% end %></td>
  </tbody>

 <% end %>
<% end %>