<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
    
<h4>種類選択</h4>

<table class=table>
 <tr>
  <thead>
  <th>ジャンル</th>
 　 <% @genres.each do |genre| %>
    <th><%# link_to genre.name, %></th>
    <% end %>
  </thead>
 </table> 